@model SWGOH.Web.ViewModels.PhaseTerritoryModel

@{
    ViewBag.Title = "Details";
}

@{
    Layout = null;
}
<div>
    <div class="col-md-12">        
        @Html.Action("Details", "TerritoryPlatoons", new { id = Model.TerritoryPlatoon1.Id })
    </div>
    <div class="col-md-12">        
        @Html.Action("Details", "TerritoryPlatoons", new { id = Model.TerritoryPlatoon2.Id })
    </div>
    <div class="col-md-12">        
        @Html.Action("Details", "TerritoryPlatoons", new { id = Model.TerritoryPlatoon3.Id })
    </div>
    <div class="col-md-12">        
        @Html.Action("Details", "TerritoryPlatoons", new { id = Model.TerritoryPlatoon4.Id })
    </div>
    <div class="col-md-12">       
        @Html.Action("Details", "TerritoryPlatoons", new { id = Model.TerritoryPlatoon5.Id })
    </div>
    <div class="col-md-12">        
        @Html.Action("Details", "TerritoryPlatoons", new { id = Model.TerritoryPlatoon6.Id })
    </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
