@model IEnumerable<SWGOH.Entities.PhaseTerritory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryPlatoon1.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryPlatoon2.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryPlatoon3.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryPlatoon4.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryPlatoon5.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerritoryPlatoon6.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPointsEarned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryPlatoon1.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryPlatoon2.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryPlatoon3.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryPlatoon4.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryPlatoon5.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerritoryPlatoon6.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPointsEarned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
