<!DOCTYPE html>
<html>
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106621198-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-106621198-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AWC Platoon Optimizer</title>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6545874400007675",
            enable_page_level_ads: true
        });
    </script>

    @Styles.Render("~/Content/css")
    <link href="~/Content/kendo/2014.1.318/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.metroblack.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/kendo/2014.1.318/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://use.fontawesome.com/8bd7970907.js"></script>
    <script src="~/Scripts/kendo/2014.1.318/kendo.web.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AWC Platoon Optimizer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float:none">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guild Info<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="membersNav"><a href="@Url.Action("Index", "Members")">Members</a></li>
                                <li id="membersCharactersNav"><a href="@Url.Action("CharCount", "MemberCharacters")">Characters</a></li>
                                <li id="membersShipsNav"><a href="@Url.Action("ShipCount", "MemberShips")">Ships</a></li>
                                <li id="territoryBattlesNav"><a href="@Url.Action("Index", "TerritoryBattles")">Territory Battles</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Characters")">Characters</a></li>
                                <li><a href="@Url.Action("Index", "Ships")">Ships</a></li>
                                <li><a href="@Url.Action("Index", "Guilds")">Guilds</a></li>
                            </ul>
                        </li>
                    }
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
            {
        @Html.Action("GuildInfo", "Guilds", new { })
    }

    <div class="main">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - AWC Platoon Optimizer  |  AWC Platoon Optimizer is not affiliated with EA, EA Capital Games, Disney or Lucasfilm LTD.  |  @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home", new { }, new { })</p>
            </footer>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
        function htmlbodyHeightUpdate() {
            var height3 = $(window).height()
            var height1 = $('.nav').height() + 50
            height2 = $('.main').height()
            if (height2 > height3) {
                $('html').height(Math.max(height1, height3, height2) + 10);
                $('body').height(Math.max(height1, height3, height2) + 10);
            }
            else {
                $('html').height(Math.max(height1, height3, height2));
                $('body').height(Math.max(height1, height3, height2));
            }

        }
        $(document).ready(function () {
            htmlbodyHeightUpdate()
            $(window).resize(function () {
                htmlbodyHeightUpdate()
            });
            $(window).scroll(function () {
                height2 = $('.main').height()
                htmlbodyHeightUpdate()
            });
        });
</script>
