@model SWGOH.Web.ViewModels.TerritoryPhaseReportModel

@{
    SelectList list = ViewBag.PlatoonSelectList;
}
<h2>Platoon Assignments - Phase @ViewBag.PhaseNumber</h2>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Back to Phase", "Details", "TerritoryBattlePhases", new { id = Model.Id }, new { @class = "btn btn-default" })
}
<br />
<br />
<div class="row">
    @Html.Action("TerritoryPhasePlatoonClosures", "TerritoryBattlePhases", new { id = Model.Id })
</div>
<br />
@using (Html.BeginForm("NewPlatoonAssignments", "Reports", new { id = Model.Id, memberId = Model.MemberId }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="form form-inline">
        <div class="form-group">
            @Html.DropDownListFor(x => x.MemberId, Model.Members, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Get Assignments" class="btn btn-default" id="search-members" />
        </div>
        <div class="form-group">
            @Html.ActionLink("View All", "NewPlatoonAssignments", "Reports", new { id = Model.Id }, new { @class = "btn btn-default" })
        </div>
    </div>
}
<br />

<div class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="tab" href="#char" role="tab">Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ship" role="tab">Ships</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="char" role="tabpanel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="products_grid"></div>
                    <script>
                        $(document).ready(function () {
                           $("#products_grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("NewPlatoonAssignmentsData", "Reports", new { id = Model.Id, memberId = Model.MemberId }))",
                                            type: "POST",
                                            dataType: "json",
                                        }
                                    },
                                    schema: {
                                        type: "json",
                                        data: "Data",
                                        total: "Total"
                                    },
                                    group: { field: "AssignedMember"},
                                    pageSize: 15
                                },
                                width: 850,
                                filterable: true,
                                sortable: true,
                                pageable: {
                                    refresh: false,
                                    pageSizes: true,
                                    buttonCount: 3,
                                    pageSizes: [15, 25, 50, 100],
                                    numeric: true
                                },
                                scrollable: true,
                                selectable: true,
                                columns: [
                                {
                                    field: "CharacterName",
                                    title: "CharacterName",
                                    width: 150
                                    },
                                {
                                    field: "AssignedPlatoon",
                                    title: "AssignedPlatoon",
                                    width: 150,
                                },
                                {
                                    field: "Stars",
                                    title: "Stars",
                                    width: 150
                                },
                                {
                                    field: "Level",
                                    title: "Level",
                                    width: 150
                                },
                                {
                                    field: "Gear",
                                    title: "Gear",
                                    width: 150
                                },
                                ],
                                dataBound: function (e) {

                                    // iterate the data items and apply row styles where necessary
                                    var dataItems = e.sender.dataSource.view();
                                    for (var j = 0; j < dataItems.length; j++) {
                                        for (i = 0; i < dataItems[j].items.length; i++) {
                                            var Stars = dataItems[j].items[i].get("Stars");

                                            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].items[i].uid + "']");
                                            if (Stars === 0) {
                                                if (i % 2 !== 0) {
                                                    row.addClass("dsRowAlt");
                                                }
                                                else {
                                                    row.addClass("dsRow");
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="ship" role="tabpanel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="ships_grid"></div>
                    <script>
                        $(document).ready(function () {
                            $("#ships_grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ShipPlatoonAssignmentsData", "Reports", new { id = Model.Id, memberId = Model.MemberId }))",
                                            type: "POST",
                                            dataType: "json",
                                        }
                                    },
                                    schema: {
                                        type: "json",
                                        data: "Data",
                                        total: "Total"
                                    },
                                    group: { field: "AssignedShipMember"},
                                    pageSize: 15
                                },
                                width: 850,
                                filterable: true,
                                sortable: true,
                                pageable: {
                                    refresh: false,
                                    pageSizes: true,
                                    buttonCount: 3,
                                    pageSizes: [15, 25, 50, 100],
                                    numeric: true
                                },
                                scrollable: true,
                                selectable: true,
                                columns: [
                                {
                                    field: "ShipName",
                                    title: "ShipName",
                                    width: 150
                                    },
                                {
                                    field: "AssignedShipPlatoon",
                                    title: "AssignedPlatoon",
                                    width: 150,
                                },
                                {
                                    field: "ShipStars",
                                    title: "Stars",
                                    width: 150
                                },
                                {
                                    field: "ShipLevel",
                                    title: "Level",
                                    width: 150
                                },
                                ],
                                dataBound: function (e) {

                                    // iterate the data items and apply row styles where necessary
                                    var dataItems = e.sender.dataSource.view();
                                    for (var j = 0; j < dataItems.length; j++) {
                                        for (i = 0; i < dataItems[j].items.length; i++) {
                                            var ShipStars = dataItems[j].items[i].get("ShipStars");

                                            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].items[i].uid + "']");
                                            if (ShipStars === 0) {
                                                if (i % 2 !== 0) {
                                                    row.addClass("dsRowAlt");
                                                }
                                                else {
                                                    row.addClass("dsRow");
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
