@model IEnumerable<SWGOH.Web.ViewModels.TerritoryBattleModel>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            Is Active
        </th>
        <th>
            Phase 1
        </th>
        <th>
            Phase 2
        </th>
        <th>
            Phase 3
        </th>
        <th>
            Phase 4
        </th>
        <th>
            Phase 5
        </th>
        <th>
            Phase 6
        </th>
        @*<th>
            Stars Earned
        </th>
        <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase1.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase2.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase3.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase4.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase5.Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase6.Id }, new { @class = "btn btn-default" })
            </td>            
        </tr>
    }

</table>
