@model IEnumerable<SWGOH.Web.ViewModels.TerritoryBattleIndexModel>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            Phase 1
        </th>
        <th>
            Phase 2
        </th>
        <th>
            Phase 3
        </th>
        <th>
            Phase 4
        </th>
        <th>
            Phase 5
        </th>
        <th>
            Phase 6
        </th>
        @if (User.IsInRole("Administrators"))
        {
            <th>
                Actions
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase1_Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase2_Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase3_Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase4_Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase5_Id }, new { @class = "btn btn-default" })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase6_Id }, new { @class = "btn btn-default" })
            </td>
            @if (User.IsInRole("Administrators"))
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
            }
        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('territoryBattlesNav').classList.add('active');
    });
</script>
