@model IEnumerable<SWGOH.Entities.TerritoryBattle>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            Is Active
        </th>
        <th>
            Phase 1
        </th>
        <th>
            Phase 2
        </th>
        <th>
            Phase 3
        </th>
        <th>
            Phase 4
        </th>
        <th>
            Phase 5
        </th>
        <th>
            Phase 6
        </th>
        <th>
            Stars Earned
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase1_Id }, new { })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase2_Id }, new { })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase3_Id }, new { })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase4_Id }, new { })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase5_Id }, new { })
            </td>
            <td>
                @Html.ActionLink("View Phase", "Details", "TerritoryBattlePhases", new { id = item.Phase6_Id }, new { })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStars)
            </td>
            <td>
                @if (User.IsInRole("Officers"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span>
                }

                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (User.IsInRole("Administrators"))
                {
                   <span> | </span> @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
    }

</table>
