@model IEnumerable<SWGOH.Web.ViewModels.CharCount>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            1 <span class="fade fa-star"> Count</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoStarCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeStarCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FourStarCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiveStarCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SixStarCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SevenStarCount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@(item.SevenStarCount < 10 ? "dsRow" : " ")" >
            <td>
                @Html.ActionLink(item.Name, "MembersWithCharacter", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiveStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SixStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevenStarCount)
            </td>
        </tr>
    }

</table>
