@model IEnumerable<SWGOH.Web.ViewModels.CharCount>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            1 Star
        </th>
        <th>
            2 Star
        </th>
        <th>
            3 Star
        </th>
        <th>
            4 Star
        </th>
        <th>
            5 Star
        </th>
        <th>
            6 Star
        </th>
        <th>
            7 Star
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@(item.SevenStarCount < 10 ? "dsRow" : " ")" >
            <td>
                @Html.ActionLink(item.Name, "MembersWithCharacter", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiveStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SixStarCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevenStarCount)
            </td>
        </tr>
    }

</table>
