@model IEnumerable<SWGOH.Entities.Member>

@{ 
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            NAME
        </th>
        <th>
            SWGOH.GG URL
        </th>
        <th>ACTIONS</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                <a href="@item.UrlExt">@Html.DisplayFor(modelItem => item.UrlExt)</a>
            </td>
            <td>                
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
                {
                    <span>| </span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }                
            </td>
        </tr>
    }
</table>
