@model SWGOH.Entities.TerritoryPlatoon

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TerritoryPlatoon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Character1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character10.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character10.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character10Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character10Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character11.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character11.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character11Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character11Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character12.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character12.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character12Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character12Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character13.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character13.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character13Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character13Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character14.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character14.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character14Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character14Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character15.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character15.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character15Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character15Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character1Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character1Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character2Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character2Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character3Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character3Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character4.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character4.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character4Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character4Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character5.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character5.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character5Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character5Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character6.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character6.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character6Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character6Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character7.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character7.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character7Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character7Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character8.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character8.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character8Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character8Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character9.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character9.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Character9Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Character9Member.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
