@model SWGOH.Web.ViewModels.TerritoryPlatoonModel

@{
    ViewBag.Title = "Details";
}

@{
    Layout = null;
}


<div>
    <h3>
        Platoon @Model.PlatoonNumber - @if (Model.IsClosed == false)
        { <span>Open</span>}
        else
        {<span>Closed</span>}
    </h3>
    <div>
        @Html.ActionLink("Assign Characters", "Edit", "TerritoryPlatoons", new { id = Model.Id }, new { @class = "btn btn-default" })
        @if (Model.IsClosed == false)
        {
            @Html.ActionLink("Close Platoon", "ClosePlatoon", "TerritoryPlatoons", new { id = Model.Id }, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Open Platoon", "ClosePlatoon", "TerritoryPlatoons", new { id = Model.Id }, new { @class = "btn btn-default" })
        }
    </div>
    <br />
    @if (Model.Character1 != null)
    {
    <div class="row">
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character1.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character2.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character3.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character4.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character5.Character.DisplayName)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character6.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character7.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character8.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character9.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character10.Character.DisplayName)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character11.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character12.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character13.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character14.Character.DisplayName)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                @Html.DisplayFor(model => model.Character15.Character.DisplayName)
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship1.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship2.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship3.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship4.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship5.Ship.DisplayName)
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship6.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship7.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship8.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship9.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship10.Ship.DisplayName)
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship11.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship12.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship13.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship14.Ship.DisplayName)
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    @Html.DisplayFor(model => model.Ship15.Ship.DisplayName)
                </div>
            </div>
        </div>
    }
</div>
