@model SWGOH.Entities.TerritoryPlatoon

@{
    ViewBag.Title = "Details";
}

@{
    Layout = null;
}


<div>
    <div class="col-md-2">
        Character
        @Html.DisplayFor(model => model.Character1.Name)
        Member
        @Html.DisplayFor(model => model.Character1Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character2.Name)
        @Html.DisplayFor(model => model.Character2.Name)
        @Html.DisplayNameFor(model => model.Character2Member.Name)
        @Html.DisplayFor(model => model.Character2Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character3.Name)
        @Html.DisplayFor(model => model.Character3.Name)
        @Html.DisplayNameFor(model => model.Character3Member.Name)
        @Html.DisplayFor(model => model.Character3Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character4.Name)
        @Html.DisplayFor(model => model.Character4.Name)
        @Html.DisplayNameFor(model => model.Character4Member.Name)
        @Html.DisplayFor(model => model.Character4Member.Name)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Character5.Name)
        @Html.DisplayFor(model => model.Character5.Name)
        @Html.DisplayNameFor(model => model.Character5Member.Name)
        @Html.DisplayFor(model => model.Character5Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character6.Name)
        @Html.DisplayFor(model => model.Character6.Name)
        @Html.DisplayNameFor(model => model.Character6Member.Name)
        @Html.DisplayFor(model => model.Character6Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character7.Name)
        @Html.DisplayFor(model => model.Character7.Name)
        @Html.DisplayNameFor(model => model.Character7Member.Name)
        @Html.DisplayFor(model => model.Character7Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character8.Name)
        @Html.DisplayFor(model => model.Character8.Name)
        @Html.DisplayNameFor(model => model.Character8Member.Name)
        @Html.DisplayFor(model => model.Character8Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character9.Name)
        @Html.DisplayFor(model => model.Character9.Name)
        @Html.DisplayNameFor(model => model.Character9Member.Name)
        @Html.DisplayFor(model => model.Character9Member.Name)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Character10.Name)
        @Html.DisplayFor(model => model.Character10.Name)
        @Html.DisplayNameFor(model => model.Character10Member.Name)
        @Html.DisplayFor(model => model.Character10Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character11.Name)
        @Html.DisplayFor(model => model.Character11.Name)
        @Html.DisplayNameFor(model => model.Character11Member.Name)
        @Html.DisplayFor(model => model.Character11Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character12.Name)
        @Html.DisplayFor(model => model.Character12.Name)
        @Html.DisplayNameFor(model => model.Character12Member.Name)
        @Html.DisplayFor(model => model.Character12Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character13.Name)
        @Html.DisplayFor(model => model.Character13.Name)
        @Html.DisplayNameFor(model => model.Character13Member.Name)
        @Html.DisplayFor(model => model.Character13Member.Name)
    </div>
    <div class="col-md-2">
        @Html.DisplayNameFor(model => model.Character14.Name)
        @Html.DisplayFor(model => model.Character14.Name)
        @Html.DisplayNameFor(model => model.Character14Member.Name)
        @Html.DisplayFor(model => model.Character14Member.Name)
    </div>
    <div class="col-md-4">
        @Html.DisplayNameFor(model => model.Character15.Name)
        @Html.DisplayFor(model => model.Character15.Name)
        @Html.DisplayNameFor(model => model.Character15Member.Name)
        @Html.DisplayFor(model => model.Character15Member.Name)
    </div>
   
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
