@model SWGOH.Entities.TerritoryPlatoon

@{
    ViewBag.Title = "Details";
}

@{
    Layout = null;
}


<div>
    <div class="row">
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character1.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character1Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character2.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character2Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character3.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character3Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character4.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character4Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character5.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character5Member.Name)
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character6.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character6Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character7.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character7Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character8.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character8Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character9.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character9Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character10.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character10Member.Name)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character11.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character11Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character12.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character12Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character13.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character13Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character14.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character14Member.Name)
            </div>
        </div>
        <div class="col-md-2">
            <div>
                Character: @Html.DisplayFor(model => model.Character15.Name)
            </div>
            <div>
                Member: @Html.DisplayFor(model => model.Character15Member.Name)
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
