@model SWGOH.Web.ViewModels.TerritoryPlatoonModel

@{
    ViewBag.Title = "Edit";
}

<h2>Phase @Model.Phase.Phase - @Model.Territory.PhaseLocation Territory - Platoon @Model.PlatoonNumber Assignments</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ActionLink("Back to Phase", "Details", "TerritoryBattlePhases", new { id = Model.Phase.Id }, new { @class = "btn btn-default" })

    <div class="form-horizontal">
        
        <hr />

        @Html.HiddenFor(x => x.IsClosed)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PlatoonNumber)
        @Html.HiddenFor(model => model.Character1.Id)
        @Html.HiddenFor(model => model.Character1.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character1.PlatoonPosition)

        @Html.HiddenFor(model => model.Character2.Id)
        @Html.HiddenFor(model => model.Character2.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character2.PlatoonPosition)

        @Html.HiddenFor(model => model.Character3.Id)
        @Html.HiddenFor(model => model.Character3.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character3.PlatoonPosition)

        @Html.HiddenFor(model => model.Character4.Id)
        @Html.HiddenFor(model => model.Character4.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character4.PlatoonPosition)

        @Html.HiddenFor(model => model.Character5.Id)
        @Html.HiddenFor(model => model.Character5.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character5.PlatoonPosition)

        @Html.HiddenFor(model => model.Character6.Id)
        @Html.HiddenFor(model => model.Character6.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character6.PlatoonPosition)

        @Html.HiddenFor(model => model.Character7.Id)
        @Html.HiddenFor(model => model.Character7.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character7.PlatoonPosition)

        @Html.HiddenFor(model => model.Character8.Id)
        @Html.HiddenFor(model => model.Character8.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character8.PlatoonPosition)

        @Html.HiddenFor(model => model.Character9.Id)
        @Html.HiddenFor(model => model.Character9.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character9.PlatoonPosition)

        @Html.HiddenFor(model => model.Character10.Id)
        @Html.HiddenFor(model => model.Character10.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character10.PlatoonPosition)

        @Html.HiddenFor(model => model.Character11.Id)
        @Html.HiddenFor(model => model.Character11.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character11.PlatoonPosition)

        @Html.HiddenFor(model => model.Character12.Id)
        @Html.HiddenFor(model => model.Character12.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character12.PlatoonPosition)

        @Html.HiddenFor(model => model.Character13.Id)
        @Html.HiddenFor(model => model.Character13.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character13.PlatoonPosition)

        @Html.HiddenFor(model => model.Character14.Id)
        @Html.HiddenFor(model => model.Character14.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character14.PlatoonPosition)

        @Html.HiddenFor(model => model.Character15.Id)
        @Html.HiddenFor(model => model.Character15.TerritoryPlatoon_Id)
        @Html.HiddenFor(model => model.Character15.PlatoonPosition)
        <div class="row">
            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character1.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character1.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character2.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character2.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character3.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character3.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character4.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character4.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character5.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character5.Character_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character6.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character6.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character7.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character7.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character8.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character8.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character9.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character9.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character10.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character10.Character_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character11.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character11.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character12.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character12.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character13.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character13.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character14.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character14.Character_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-2">
                @Html.DropDownListFor(x => x.Character15.Character_Id, new SelectList(Model.Items, "Id", "DisplayName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character15.Character_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.Character1Member_Id, "Character1Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character1Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character1Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character2Member_Id, "Character2Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character2Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character2Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character3Member_Id, "Character3Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character3Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character3Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character4Member_Id, "Character4Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character4Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character4Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character5Member_Id, "Character5Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character5Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character5Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character6Member_Id, "Character6Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character6Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character6Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character7Member_Id, "Character7Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character7Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character7Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character8Member_Id, "Character8Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character8Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character8Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character9Member_Id, "Character9Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character9Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character9Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character10Member_Id, "Character10Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character10Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character10Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character11Member_Id, "Character11Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character11Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character11Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character12Member_Id, "Character12Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character12Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character12Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character13Member_Id, "Character13Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character13Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character13Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character14Member_Id, "Character14Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character14Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character14Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Character15Member_Id, "Character15Member_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Character15Member_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Character15Member_Id, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back To Phase", "Details", "TerritoryBattlePhases", new { id = Model. }, new { })*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
