@model SWGOH.Web.ViewModels.TerritoryBattlePhaseModel

@{
    ViewBag.Title = "Details";
}

<div>
    <br />
    <p>
        @*@Html.ActionLink("Back to Territory Battle", "Details", "Guilds", new { }, new { @class = "btn btn-default" })*@
        @Html.ActionLink("Platoon Assignments", "PlatoonAssignmentsByCharacter", "Reports", new { id = Model.Id }, new { @class = "btn btn-default" })        
    </p>
    <h2>Phase @Model.Phase - @Model.RequiredStars Stars</h2>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#mid" role="tab">Middle Territory</a>
            </li>
            @if (Model.HasSecondTerritory == true)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bottom" role="tab">Bottom Territory</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="mid" role="tabpanel">
                @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory1.Id })
            </div>
            @if (Model.HasSecondTerritory == true)
            {
                <div class="tab-pane " id="bottom" role="tabpanel">
                    @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory2.Id })
                </div>
            }
        </div>
    </div>
</div>

