@model SWGOH.Web.ViewModels.TerritoryBattlePhaseModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <br />    
    <div class="col-md-12">
        <div class="col-md-10">
            <h2>Phase @Model.Phase - @Model.RequiredStars Stars</h2>
        </div>
        <div class="col-md-2">
            <p>
                @Html.ActionLink("Platoon Assignments", "NewPlatoonAssignments", "Reports", new { id = Model.Id }, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
    <div >
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#mid" role="tab">Middle Territory</a>
            </li>
            @if (Model.HasSecondTerritory == true)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bottom" role="tab">Bottom Territory</a>
                </li>
            }
            @if (Model.HasThirdTerritory == true)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#top" role="tab">Top Territory</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="mid" role="tabpanel">
                @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory1.Id })
            </div>
            @if (Model.HasSecondTerritory == true)
            {
                <div class="tab-pane " id="bottom" role="tabpanel">
                    @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory2.Id })
                </div>
            }
            @if (Model.HasThirdTerritory == true)
            {
                <div class="tab-pane " id="top" role="tabpanel">
                    @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory3.Id })
                </div>
            }
        </div>
    </div>
</div>
