@model SWGOH.Entities.TerritoryBattlePhase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TerritoryBattlePhase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequiredStars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredStars)
        </dd>
    </dl>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#mid" role="tab">Middle Territory</a>
            </li>
            @if (Model.HasSecondTerritory == true)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bottom" role="tab">Bottom Territory</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="mid" role="tabpanel">
                @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory1_Id })
            </div>
            @if (Model.HasSecondTerritory == true)
            {
                <div class="tab-pane " id="bottom" role="tabpanel">
                    @Html.Action("Details", "PhaseTerritories", new { id = Model.Territory2_Id })
                </div>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
